<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>YouBike 臺北市公共自行車即時資訊</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <style>
    body{ padding: 1em;  }
  </style>

</head>
<body>

  <h1>YouBike 臺北市公共自行車即時資訊</h1>
  <p>
    練習 13： YouBike 臺北市公共自行車即時資訊 <br>
    完成下列表格，並加入:
    1. 站點名稱搜尋
    2. 目前可用車輛 / 總停車格 的排序功能
  </p>
  <hr>
  <div id="app">
    <div>
      <div>
        <div>
          站名搜尋 <input type="text" v-model="searchStation">
        </div>
        <div>
          <div>
            目前可用車輛
            <label> 升冪 <input type="radio" v-model="sortSelected" value="sbi_Asc"></label>
            <label> 降冪 <input type="radio" v-model="sortSelected" value="sbi_Desc"></label>
          </div>
          <div>
            總停車格
            <label> 升冪 <input type="radio" v-model="sortSelected" value="tot_Asc"></label>
            <label> 降冪 <input type="radio" v-model="sortSelected" value="tot_Desc"></label>
          </div>
        </div>
      </div>
      <button @click="reset">重置</button>
    </div>
    <br>
    <a v-if="defaultPage > 0" href="#" @click="prevPage">上一頁</a>
    <a href="#" @click="nextPage">下一頁</a>

    <p>共 {{ totalPage + 1}} 頁，目前第 {{ defaultPage + 1 }} 頁
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>場站名稱</th>
          <th>場站區域</th>
          <th>目前可用車輛</th>
          <th>總停車格</th>
          <th>資料更新時間</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(s,index) in pageFiter">
          <td>{{ s.sno }}</td>
          <td>{{ s.sna }}</td>
          <td>{{ s.sarea }}</td>
          <td>{{ s.sbi }}</td>
          <td>{{ s.tot }}</td>
          <td>{{ timeFormat(s.mday) }}</td>
        </tr>
      </tbody>

    </table>

  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="./scripts.js?v=2020081401"></script>

</body>
</html>
